<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- SCSS
        link(rel="stylesheet", href="./main.scss")
        title Memory Game




    body
        .container

            .start-game: button Start Game
            audio#start(src="./assets/music/click-2.mp3" preload="auto")
            audio#click-img(src="./assets/music/click-4.mp3" preload="auto")
            audio#success(src="./assets/music/click-3.mp3" preload="auto")


            .game-cont
                .info
                    .name Name
                    .timer 2:53
                    .reste Reset
                    .tries Moves: 
                        span 0

                .memory-game

                    .memory-card(data-img="1")
                        img.front(src="https://picsum.photos/id/10/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="1")
                        img.front(src="https://picsum.photos/id/10/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="2")
                        img.front(src="https://picsum.photos/id/20/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="2")
                        img.front(src="https://picsum.photos/id/20/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="3")
                        img.front(src="https://picsum.photos/id/30/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="3")
                        img.front(src="https://picsum.photos/id/30/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="4")
                        img.front(src="https://picsum.photos/id/40/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="4")
                        img.front(src="https://picsum.photos/id/40/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="5")
                        img.front(src="https://picsum.photos/id/50/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="5")
                        img.front(src="https://picsum.photos/id/50/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="6")
                        img.front(src="https://picsum.photos/id/60/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="6")
                        img.front(src="https://picsum.photos/id/60/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="7")
                        img.front(src="https://picsum.photos/id/70/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="7")
                        img.front(src="https://picsum.photos/id/70/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="8")
                        img.front(src="https://picsum.photos/id/80/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="8")
                        img.front(src="https://picsum.photos/id/80/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="9")
                        img.front(src="https://picsum.photos/id/90/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="9")
                        img.front(src="https://picsum.photos/id/90/150/150")
                        img.back(src="./assets/icons/question.svg")

                    .memory-card(data-img="10")
                        img.front(src="https://picsum.photos/id/100/150/150")
                        img.back(src="./assets/icons/question.svg")
                    .memory-card(data-img="10")
                        img.front(src="https://picsum.photos/id/100/150/150")
                        img.back(src="./assets/icons/question.svg")

























        script(src="./main.js")