/* Font ============================== */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

/* Global ============================== */
body {
  background-color: #121212;
  scroll-behavior: smooth;
  color: white;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

/* Custom Scroll Bar ============================== */
// For Firefox
:root {
  scrollbar-color: #666 #222 !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 50px;
}

/* ==================== Game Style ================================================ */
.game-cont {
  width: 900px;
  height: 100vh - 10;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  /* Info ============================== */
  .info {
    width: 650px;
    height: 50px;
    margin: 40px 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px #ff5e62;
    border-radius: 3px;

    .name,
    .tries {
      font: bold 1.5em 'Kalam', cursive;
      font-family: 'Kalam', cursive;
      letter-spacing: 0.3px;
      background: linear-gradient(to left, #ff9966, #ff5e62);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  /* Images ============================== */
  .memory-game {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
    padding: 10px;

    .memory-card {
      width: 150px;
      position: relative;
      border-radius: 3px;
      cursor: pointer;
      transition: 0.2s;

      .font,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        border-radius: 3px;
        background: linear-gradient(to right, #ff9966, #ff5e62);
      }

      img {
        width: 150px;
        border-radius: 3px;
      }
    }

    .flip .back {
      opacity: 0;
    }
  }
}
